<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page - welcome</title>
</head>
<body>
<h1 th:text=" 'username : ' + ${name} "></h1>
<p>Common Public page .. ${name}</p>
<a th:href="@{/user}"> user </a> <br>
<a th:href="@{/admin}"> admin </a> <br>
<a th:href="@{/chart1}"> chart1 pie chart + table</a> <br>
<a th:href="@{/chart1-inline}"> chart1-inline pie chart</a> <br>
<a th:href="@{/chart2}"> chart2 pie chart </a> <br>
<a th:href="@{/chart3}"> chart3 pie chart</a> <br>
<a th:href="@{/map1}"> map1 world</a> <br>
<a th:href="@{/map2}"> *map2 world</a> <br>
<a th:href="@{/map3}"> *map3 india </a> <br>
<a th:href="@{/map-real}"> *map-real world </a> <br>
<a th:href="@{/ptime1}"> "popularity and time chart </a> <br>
<a th:href="@{/timeline}"> *timeline </a> <br>
<a th:href="@{/timeline-india}"> *timeline2-india-chart.html </a> <br>
<a th:href="@{/table}"> table + sort + hard coded data</a> <br>
<a th:href="@{/table2}"> *table2 + sort + controller data</a> <br>
</body>
</html>